<h2 mat-dialog-title>Incluir Pessoa</h2>
<form #form="ngForm" [formGroup]="hospedeForm" (ngSubmit)="salvarHospede()">
<mat-dialog-content class="mat-typography">
  
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="nome">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Documento</mat-label>
        <input matInput placeholder="documento" formControlName="documento">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="telefone" formControlName="telefone">
      </mat-form-field>
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()" type="button" cdkFocusInitial>Cancelar</button>
  <button mat-button  type="submit" [disabled]="hospedeForm.invalid" color="primary">Salvar</button>
</mat-dialog-actions>
</form>